.contacto {
	margin-bottom: 60px;	
	&__parrafo {
		margin: 0 0 30px 0;
		color: rgba($verdenegro, 0.85);
		font-size: 1rem;
	}

	&__imagenwrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__piramide {
		width: 90%;
		height: auto;
		transform: rotate(-5deg);
	}
}