.contacto {
	margin-bottom: 60px;	
	
	&__parrafo {
		color: rgba($verdenegro, 0.85);
		font-size: 1rem;
		margin: 0px 0 15px 0;
		text-align: center;

		@mixin md_px {
			margin: 0 0 30px 0;
			text-align: left;
		}
	}

	&__formularioycopywrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__imagenwrapper {
		display: none;

		@mixin xl_px {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
		}
	}

	&__piramide {

		max-width: 600px;
		width: 90%;
		height: auto;
		transform: translatey(0px);
		animation: float 6s ease-in-out infinite;
	}

	&__piramide--sombra {
		margin-top: 20px;
		max-width: 600px;	
		width: 90%;
		height: auto;
		opacity: 0.75;
		animation: float-shadow 6s ease-in-out infinite;
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
}


@keyframes float-shadow {
	0% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.75;
	}
}