.menuprincipal {
	z-index: 100;
	position: fixed;
	background-color: $verdeserio;
	height: 100vh;
	width: 100%;
	left: 0;
	top: -100vh;
	right: unset;
	transition: top ease-out 0.2s;
	padding-top: 80px;
	/**/
	display: flex;
	flex-direction: column;
	justify-content: center;

	@mixin sm_px {
		width: 556px;
		right: unset;
		left: calc(80px - 556px);
		top:0;
		padding-top: 60px;
		transition: left ease-out 0.2s;
		justify-content: space-between;
	}

	&__wrapperoverflow {
		overflow: hidden;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;


		@mixin sm_px {
			justify-content: space-between;
		}
	}

	&__lista {
		list-style: none;
		margin: 0 0 0 30px;
		padding: 0;
		width: 150px;

		@mixin xs_px {
			width: 200px;
		}
		@mixin sm_px {
			width: 200px;
			margin: 0 0 0 60px;
		}
		@mixin lg_px {
			width: 230px;
		} 
	}

	&__vinculo {
		color: white;
		text-transform: uppercase;
		font-family: BebasNeue;
		font-weight: 500;
		font-size: 3rem;
		margin: 0 0 10px 0;
		line-height: 100%;
		transition: text-indent ease-out 0.2s;
		display: inline-block;

		@mixin xs_px {
			font-size: 3.25rem;
			margin: 0 0 15px 0;
		} 

		@mixin sm_px {
			font-size: 4.25rem;
		} 

		@mixin lg_px {
			font-size: 5rem;
		} 
	}

	&__vinculo:last-child {
		margin-bottom: 0;
	}

	&__vinculo:hover {
		text-indent: 10px;
	}

	&__vinculo--actual {
		color: $magentafabuloso;
		text-indent: 0 !important;
	}

	&__footer {
		padding: 0 0 0 30px ;
		margin-top: 15px;
		color: white;
		width: 100%;
		text-align: left;

		@mixin xs_px {
			margin-top: 20px;
		}

		@mixin sm_px {
			padding: 0 80px 60px 60px;
			margin-top: 30px;
		}

	}

	&__footer__item {
		font-size: 1rem;
		transition: color ease-out 0.2s;
	}

	&__footer__item:hover {
		color: $magentafabuloso;
	}

	&__footer__separador {
		color: white;
		margin: 0 5px;

		@mixin sm_px {
			margin: 0 10px;
		}
	}

	&__overlay {
		background-color: rgba(0,0,0, 0.95);
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		opacity: 0;
		pointer-events: none;
		transition: opacity ease-out 0.3s;
		z-index: 99;
	}

	&__overlay--visible {
		opacity: 1;
		pointer-events: all;
	}

	&__logo {
		display: none;

		@mixin xs_px {
			display: block;
			width: 60px;
			margin-left: 30px;
			margin-bottom: 30px;
		} 
		@mixin sm_px {
			display: none;
		}
	}

	&__social {
		display: block;
		margin-bottom: 15px;
	
		@mixin sm_px {
			display: none;
		}
	}

	&__social__item {
		margin: 0 20px 0 0;
		color: white;
		font-size: 1rem;
	}

	&__social__item:hover {
		color: $magentafabuloso;
	}
}

.menuprincipal--abierto {
	top: 0;

	@mixin sm_px {
		left: 0;
	} 
}



