.menuprincipal {
	z-index: 100;
	position: fixed;
	background-color: $verdeserio;
	height: 100vh;
	width: 100%;
	left: 0;
	top: -100vh;
	right: unset;
	transition: top ease-out 0.2s;
	padding-top: 110px;

	@mixin xs_px {
		padding-top: 140px;
	} 

	@mixin sm_px {
		width: 556px;
		right: unset;
		left: calc(80px - 556px);
		top:0;
		padding-top: 60px;
		transition: left ease-out 0.2s;
	}

	&__lista {
		list-style: none;
		margin: 0 0 0 30px;
		padding: 0;
		width: 250px;

		@mixin xs_px {
			margin: 0 0 0 60px;
		} 	

		@mixin sm_px {
			width: 300px;
		}
	}

	&__vinculo {
		color: white;
		text-transform: uppercase;
		font-family: BebasNeue;
		font-weight: 500;
		font-size: 3.5rem;
		margin: 0 0 15px 0;
		line-height: 100%;
		transition: text-indent ease-out 0.2s;
		display: inline-block;

		@mixin xs_px {
			font-size: 4.5rem;
		} 

		@mixin sm_px {
			font-size: 5rem;
		} 
	}

	&__vinculo:hover {
		text-indent: 10px;
	}

	&__vinculo--actual {
		color: $magentafabuloso;
		text-indent: 0 !important;
	}

	&__footer {
		position: absolute;
		bottom: 0;
		padding: 30px 30px 30px 30px;
		color: white;
		width: 100%;
		text-align: left;

		@mixin sm_px {
			padding: 30px 95px 30px 60px;
		}
	}

	&__footer__item {
		transition: color ease-out 0.2s;
	}

	&__footer__item:hover {
		color: $magentafabuloso;
	}

	&__footer__separador {
		color: white;
		margin: 0 10px;
	}

	&__overlay {
		background-color: rgba(#000, 0.95);
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		opacity: 0;
		pointer-events: none;
		transition: opacity ease-out 0.3s;
		z-index: 99;
	}

	&__overlay--visible {
		opacity: 1;
		pointer-events: all;
	}

	&__logo {
		display: block;
		width: 40px;
		margin-left: 30px;
		margin-bottom: 30px;

		@mixin xs_px {
			width: 60px;
			margin-left: 60px;
		} 

		@mixin sm_px {
			display: none;
		}
	}

	&__social {
		display: block;
		margin-bottom: 20px;

		@mixin sm_px {
			display: none;
		}
	}

	&__social__item {
		margin: 0 20px 0 0;
		color: white;
		font-size: 1.25rem;
	}

	&__social__item:hover {
		color: $magentafabuloso;
	}
}

.menuprincipal--abierto {
	top: 0;

	@mixin sm_px {
		left: 0;
	} 
}



