.portafoliothumbnails {
	&__unode {
		margin-bottom: 30px;

		@mixin lg_px {
			margin-bottom: 0;
		}
	}

	&__unode:last-child {
		margin-bottom: 0;
	}

	&__wrapper {
		position: relative;
		height: 300px;
		overflow: hidden;

		@mixin lg_px {
			height: 250px;
		}

		@mixin xl_px {
			height: 328px;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		right: 50%;
		transform: translateX(50%);
		height: 300px;
		width: auto;
		display: block;
		margin: auto;

		@mixin lg_px {
			height: 250px;
		}

		@mixin xl_px {
			height: 328px;
		}
	}

	&__wrapper--singleproyecto {
		background-color: $verdeserio;
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
