.portafolio {
	max-width: 1270px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	&__unode {
		margin-bottom: 30px;
		position: relative;
	}

	&__titulo {
		font-size: 4rem;
		font-family: BebasNeue;
		font-weight: 500;
		margin: 0;
		padding: 0;
		line-height: 100%;
		color: $magentafabuloso;
		transition: color ease-in-out 0.2s;
	}

	&__titulo:hover {
		color: $verdeserio;
	}

	&__categorias {
		margin: 0;
		font-size: 3rem;
		font-family: BebasNeue;
		font-weight: 500;
		color: $verdeserio;
		line-height: 80%;
	}

	&__descripcion {
		font-size: 1rem;
		line-height: 125%;
	}

	&__informacion {
		width: 35%;
		position: absolute;
		top: 50%;
		right: 0;
		padding-left: 30px;
		transform: translateY(-50%);
	}

	&__wrapperimagen {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 465px;
		transition: width ease-in-out 0.25s;
		overflow: hidden;
	}

	&__unode:hover .portafolio__wrapperimagen {
		width: 65%;
	}

	&__imagen {
		position: absolute;
		top: 0;
		right: 50%;
		transform: translateX(50%);
	}
}