.portada {
	background-color: $verdeserio;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	padding-top: 80px;

	@mixin sm_px {
		padding-top: 0px;
	}

	&__logo {
		width: 60%;
		max-width: 350px;
		display: block;
		margin: 0 auto;
		transform: translateX(-5%);
	}

	&__nombre {
		width: 60%;
		max-width: 350px;
		display: block;
		margin: 60px auto 0 auto;
	}

	&__titulo {
		font-family: BebasNeue;
		font-weight: 500;
		font-size: 8rem;
		color: white;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		display: inline-block;
		text-align: center;
	}
}