.servicios {

	&__unode {
		margin-bottom: 30px;
	}

	&__textowrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__titulo {
		color: $magentafabuloso;
		font-family: BebasNeue;
		font-weight:500;
		font-size: 3.25rem;
		margin: 15px 0 15px 0;
		padding: 0;
		text-align: center;
	}

	&__parrafo {
		color: $verdeserio;
		line-height: 150%;
		font-size: 1rem;
		margin: 0 0 0 0;
		/*padding-bottom: 30px;*/
	}

	&__icono {
		max-width: 200px;
		width: 100%;
		height: auto;
		margin: auto; 
		display: block;
	}
}