.servicios {

	&__unode {
		margin-bottom: 60px;

		@mixin md_px {
			margin-bottom: 90px;
		}
	}

	&__unode:last-child {
		margin-bottom: 0;
	}

	&__textowrapper {
		@mixin md_px {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}

	&__titulo {
		color: $magentafabuloso;
		font-family: BebasNeue;
		font-weight:500;
		font-size: 3rem;
		margin: 30px 0 15px 0;
		padding: 0;
		text-align: center;
		line-height: 3rem;

		@mixin xs_px {
			font-size: 3.5rem;
		}

		@mixin md_px {
			text-align: left;
			margin: 0 0 15px 0;
			font-size: 3.5rem;
		}

		@mixin lg_px {
			margin: 0 0 30px 0;
			width: calc(100% + 30px);
			transform: translateX(-30px);
			font-size: 4rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			white-space: nowrap;
		}

		@mixin xl_px {
			width: calc(100% + 60px);
			transform: translateX(-60px);
		}
	}

	&__titulodash {
		display: none;

		@mixin lg_px {
			display: inline-block;
			width: calc(100% + 30px);
			height: 5px;
			background-color: $magentafabuloso;
			margin-left: 15px;
		}

		@mixin lg_px {
			width: calc(100% + 60px);
		}
	}

	&__parrafo {
		color: $verdeserio;
		line-height: 150%;
		font-size: 1rem;
		margin: 0 0 0 0;
		text-align: center;

		@mixin md_px {
			text-align: left;
		}
	}

	&__imagenwrapper {

		@mixin md_px {
			display: flex;
			justify-content: center;
			align-items: center;
		}

	}

	&__icono {
		margin: auto; 
		display: block;
		height: auto;
		
	
		&--web {
			width: 190px;
			@mixin lg_px {
				width: 240px;
			}
		}

		&--marca {
			width: 200px;
			@mixin lg_px {
				width: 250px;
			}
		}

		&--editorial {
			width: 220px;

			@mixin lg_px {
				width: 265px;
			}
		}
	}
}