.servicios {

	&__unode {
		margin-bottom: 90px;
	}

	&__textowrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__titulo {
		color: $magentafabuloso;
		font-family: BebasNeue;
		font-weight:500;
		font-size: 4rem;
		margin: 0;
		padding: 0;
	}

	&__parrafo {
		color: $verdeserio;
		line-height: 150%;
		font-size: 1rem;
		margin: 0 0 0 0;
		padding-bottom: 30px;
	}

	&__icono {
		width: 300px;
		height: auto;
		margin: auto; 
		display: block;
	}
}