.titulogeneral {
	text-transform: uppercase;
	font-family: BebasNeue;
	font-weight: 500;
	font-size: 3rem;
	color: $magentafabuloso;
	transform: rotate(-90deg) translateY(4.25rem);
	transform-origin: 0 100%;
	display: inline-block;
	margin: 0 0 0 0;
	white-space: nowrap;

	&__wrapper {
		display: flex;
		align-items: flex-end;
		overflow: hidden;
	}

	&__dash {
		height: 5px;
		width: 1000%;
		background-color: $verdeserio;
		display: inline-block;
		margin: 0 0 15px 15px;
	}

	&--blanco {
		color: white;
	}

	&__dash--blanco {
		background-color: white;
	}
}