.unproyecto {

	&__titulo {
		color: $magentafabuloso;
		text-transform: uppercase;
		font-family: BebasNeue;
		font-weight: 500;
		font-size: 4rem;
		margin: 0;
		line-height: 90%;
	}

	&__categorias {
		margin: 0;
		font-size: 3rem;
		font-family: BebasNeue;
		font-weight: 500;
		color: #06262D;
		line-height: 100%;
	}

	&__intro {
		line-height: 125%;
		margin-top: 30px;
		margin-bottom: 30px;

		p {
			margin-top: 0;
		}
	}

	&__creditos {
		border-top: 2px solid $magentafabuloso;
		line-height: 125%;
		padding-top: 30px;

		strong {
			color: $magentafabuloso
		}

		a {
			color: inherit;
			transition: color ease 0.25s;
		}

		a:hover {
			color: $magentafabuloso
		}
		p {
			margin: 0;
		}
	}

	&__visitarsitio {
		font-weight: 700;
		color: $magentafabuloso !important;	
		transition: color ease 0.25s;
	}

	&__visitarsitio:hover {
		color: $magentarojo;
	}
}