* {
	box-sizing: border-box;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}
html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
  	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
}

.wrappergeneral {
	padding-left: 0;
	min-height: calc(100vh - 118px);

	@media (min-width: 480px) {
		min-height: calc(100vh - 100px);
	}

	@mixin sm_px {
		padding-left: 80px;
		min-height: calc(100vh - 72px);
	}

	@mixin md_px {
		min-height: calc(100vh - 79px);
	}
}