
.mt0 {
  margin-top: 0;
}

.mt15 {
  margin-top: 15px;
}

.mt30 {
  margin-top: 30px;
}

.mt45 {
  margin-top: 45px;
}

.mt60 {
  margin-top: 60px;
}

.mt75 {
  margin-top: 75px;
}

.mt90 {
  margin-top: 90px;
}

.mt120 {
  margin-top: 120px;
}
/***/

.mt0-sm {
  @mixin sm_px {
     margin-top: 0px;
  }
}

.mt15-sm {
  @mixin sm_px {
     margin-top: 15px;
  }
}

.mt30-sm {
  @mixin sm_px {
     margin-top: 30px;
  }
 
}

.mt45-sm {
  @mixin sm_px {
    margin-top: 45px;
  }
  
}

.mt60-sm {
  @mixin sm_px {
     margin-top: 60px;
  }
 
}

.mt75-sm {
  @mixin sm_px {
    margin-top: 75px;
  }
  
}

.mt90-sm {
  @mixin sm_px {
     margin-top: 90px;
  }
}

.mt120-sm {
  @mixin sm_px {
    margin-top: 120px;
  }
}

/**/

.mt0-md {
  @mixin md_px {
     margin-top: 0px;
  }
 
}

.mt15-md {
  @mixin md_px {
     margin-top: 15px;
  }
 
}

.mt30-md {
  @mixin md_px {
     margin-top: 30px;
  }
 
}

.mt45-md {
  @mixin md_px {
    margin-top: 45px;
  }
  
}

.mt60-md {
  @mixin md_px {
     margin-top: 60px;
  }
 
}

.mt75-md {
  @mixin md_px {
    margin-top: 75px;
  }
  
}

.mt90-md {
  @mixin md_px {
     margin-top: 90px;
  }
}

.mt120-md {
  @mixin md_px {
    margin-top: 120px;
  }
}

/**/

.mt0-lg {
  @mixin lg_px {
     margin-top: 0px;
  }
}

.mt15-lg {
  @mixin lg_px {
     margin-top: 15px;
  }
}

.mt30-lg {
  @mixin lg_px {
     margin-top: 30px;
  }
 
}

.mt45-lg {
  @mixin lg_px {
    margin-top: 45px;
  }
  
}

.mt60-lg {
  @mixin lg_px {
     margin-top: 60px;
  }
 
}

.mt75-lg {
  @mixin lg_px {
    margin-top: 75px;
  }
  
}

.mt90-lg {
  @mixin lg_px {
     margin-top: 90px;
  }
}

.mt120-lg {
  @mixin lg_px {
    margin-top: 120px;
  }
}


/**/

.mt0-xl {
  @mixin xl_px {
     margin-top: 0px;
  }
}

.mt15-xl {
  @mixin xl_px {
     margin-top: 15px;
  }
}

.mt30-xl {
  @mixin xl_px {
     margin-top: 30px;
  }
 
}

.mt45-xl {
  @mixin xl_px {
    margin-top: 45px;
  }
  
}

.mt60-xl {
  @mixin xl_px {
     margin-top: 60px;
  }
 
}

.mt75-xl {
  @mixin xl_px {
    margin-top: 75px;
  }
  
}

.mt90-xl {
  @mixin xl_px {
     margin-top: 90px;
  }
}

.mt120-xl {
  @mixin xl_px {
    margin-top: 120px;
  }
}

/******************************************************/

.mb0 {
  margin-bottom: 0;
}

.mb15 {
  margin-bottom: 15px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb75 {
  margin-bottom: 75px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb120 {
  margin-bottom: 120px;
}

/***/

.mb0-sm {
  @mixin sm_px {
     margin-bottom: 0px;
  }
}

.mb15-sm {
  @mixin sm_px {
     margin-bottom: 15px;
  }
}

.mb30-sm {
  @mixin sm_px {
     margin-bottom: 30px;
  }
 
}

.mb45-sm {
  @mixin sm_px {
    margin-bottom: 45px;
  }
  
}

.mb60-sm {
  @mixin sm_px {
     margin-bottom: 60px;
  }
 
}

.mb75-sm {
  @mixin sm_px {
    margin-bottom: 75px;
  }
  
}

.mb90-sm {
  @mixin sm_px {
     margin-bottom: 90px;
  }
}

.mb120-sm {
  @mixin sm_px {
     margin-bottom: 120px;
  }
}

/**/

.mb0-md {
  @mixin md_px {
     margin-bottom: 0px;
  }
 
}

.mb15-md {
  @mixin md_px {
     margin-bottom: 15px;
  }
 
}

.mb30-md {
  @mixin md_px {
     margin-bottom: 30px;
  }
 
}

.mb45-md {
  @mixin md_px {
    margin-bottom: 45px;
  }
  
}

.mb60-md {
  @mixin md_px {
     margin-bottom: 60px;
  }
 
}

.mb75-md {
  @mixin md_px {
    margin-bottom: 75px;
  }
  
}

.mb90-md {
  @mixin md_px {
     margin-bottom: 90px;
  }
}

.mb120-md {
  @mixin md_px {
     margin-bottom: 120px;
  }
}

/**/

.mb0-lg {
  @mixin lg_px {
     margin-bottom: 0px;
  }
}

.mb15-lg {
  @mixin lg_px {
     margin-bottom: 15px;
  }
}

.mb30-lg {
  @mixin lg_px {
     margin-bottom: 30px;
  }
 
}

.mb45-lg {
  @mixin lg_px {
    margin-bottom: 45px;
  }
  
}

.mb60-lg {
  @mixin lg_px {
     margin-bottom: 60px;
  }
 
}

.mb75-lg {
  @mixin lg_px {
    margin-bottom: 75px;
  }
  
}

.mb90-lg {
  @mixin lg_px {
     margin-bottom: 90px;
  }
}

.mb120-lg {
  @mixin lg_px {
     margin-bottom: 120px;
  }
}



/**/

.mb0-xl {
  @mixin xl_px {
     margin-bottom: 0px;
  }
}

.mb15-xl {
  @mixin xl_px {
     margin-bottom: 15px;
  }
}

.mb30-xl {
  @mixin xl_px {
     margin-bottom: 30px;
  }
 
}

.mb45-xl {
  @mixin xl_px {
    margin-bottom: 45px;
  }
  
}

.mb60-xl {
  @mixin xl_px {
     margin-bottom: 60px;
  }
 
}

.mb75-xl {
  @mixin xl_px {
    margin-bottom: 75px;
  }
  
}

.mb90-xl {
  @mixin xl_px {
     margin-bottom: 90px;
  }
}

.mb120-xl {
  @mixin xl_px {
     margin-bottom: 120px;
  }
}